{% extends "base.html" %}
{% load static %}
{% block title %} Buy Now{% endblock title %}

{% block content %}

<div class="container">
    {% if messages %}
        {% for msg in  messages%}
            <p class='alert alert-danger '>{{msg}}</p>
        {% endfor %}
    {% endif %}
    <div class="row mt-4">
        <div class="col-sm-6">
            <h3>Order Summary</h3>
            <hr>
            {% for item in cart_items %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5>{{item.product.title}}</h5>
                        <p>{{item.quantity}}</p>
                        <p class="fw-bold">{{item.product.discount_price}}</p>
                    </div>
                </div>
            {% endfor %}
            <p class="fw-bold">Total Cost +40 = {{totalamount}}</p>
            <small>“Terms and Conditions” is the document governing the contractual relationship between the provider of a service and its user. On the web, this document is often also called “Terms of Service” (ToS), “Terms of Use”, EULA (“End-User License Agreement”), “Genera</small>
        </div>
        <div class="col-sm-4 offset-sm-1">
            <h4>shipping Address</h4>
            <hr>
            <form method='post' id='myform'>
                {% csrf_token %}
                {% for ad in  add%}
                <div class="card">
                    <div class="card-body">
                        <h3>{{request.user}}</h3>
                        <h5>{{ad.name}}</h5>
                        <p>mobile :{{ad.mobile}}</p>
                        <p>{{ad.locality}}{{ad.city}}{{ad.state}}-{{ad.zipcode}}</p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" name='custid' id="custadd{{forloop.counter}}" value="{{ad.id}}">
                    <label clas='form-check-label fw-bold' for="custid{{forloop.counter}}" >
                        Address : {{forloop.counter}}</label>
                </div>
                {% endfor %}
                <div class="form-check mb-4">
                    <label class="form-label">TotalAmount</label>
                    <input type='number' name='totalamount' value="{{totalamount}}" class="form-control">
                </div>

                <div class="text-end">
                    <button type="submit" id="rzp-btn1" class='btn btn-warning mt-3 x-5 fw-bold'>payment</button>
                    
                    <!-- <button type="submit" class='btn btn-warning mt-3 x-5 fw-bold'>continue</button> -->
                </div>
            </form>
        </div>
    </div>
</div>
<br><br>
{% endblock content %}


{% block payment-gateway %}

{% comment %} <button id="rzp-button1">Pay</button> {% endcomment %}
{% comment %} <script src="https://checkout.razorpay.com/v1/checkout.js"></script> {% endcomment %}
<script>
var options = {
    "key": "rzp_test_LP7gNjfIpnSnkd", // Enter the Key ID generated from the Dashboard
    "amount": "{{razoramount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Ayjaz Ahammad", //your business name
    "description": "Purchase product",
    "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    'handler':function (response){
        console.log(response,'success')
        var form= document.getElementById('myform')
        window.location.href=`http://localhost:8000/paymentdone?order_id=${response.razorpay_order_id}&payment_id=${response.razorpay_payment_id}&cust_id=${form.elements["custid"].value}` 
    },
    "theme": {
        "color": "#3399cc"
    }
    
};
var rzp1 = new Razorpay(options);
rzp1.on('payment-failed',function(response){
    alert(response.error.description);
})
document.getElementById('rzp-btn1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

{% endblock payment-gateway %}