{% extends 'base.html' %}
{% load static %}
{% block title %}profile{% endblock title %}

{% block content %}

{%if form.non_field_errors%}
{% for error in form.non_field_errors%}
    <div class='alert alert-danger my-3'>{{error}}</div>
{%endfor%}
{%endif%}

{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">{{msg}}</div>
    {% endfor %}
{% endif %}
<div class='container  mt-4'>
    <div class="row">
        <h2 class='text-capitalize '>welcomes <span class='text-capitalize'>{{request.user}}</span></h2>
        <div class="col-sm-2">
            <ul class='list-unstyled text-capitalize'>
                <li class='d-grid'><a href="{%url 'profile'%}" class='btn btn-primary'>profile</a></li>
                <li class='d-grid'><a href="{%url 'address'%}" class='btn'>address</a></li>
            </ul>
        </div>
        <div class="col-sm-8 offset-sm-1">
            <form action="" method="post" novalidate class="p-4 shadow">
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}}{{fm}}<small class='text-danger'>{{fm.errors|striptags}}</small><br>
                {% endfor %}
                <div class='col-12 mt-3'>
                    <button class='btn btn-primary'>Submit</button>
                </div>
            </form>
            <br><br>
    </div>
    </div>
</div>
{% endblock content %}
